header {
  padding: 22px 0;
  text-align: center;
  background: #5c7684;
  color: #fff;
  img {
    width: 200px;
  }
  p {
    margin: 0;
    font-weight: bold;
    font-size: 1.22rem;
  }
  a {
    color: #fff;
    text-decoration: underline;
  }
}