@import "default";
@import "header";
@import "select";
@import "totop";
@import "objectives";

main {
  h2 {
    color: #f36c23;
    margin-bottom: 25px;
  }
  section {
    color: #7a757b;
    display: none;
  }
  a {
    z-index: 2;
  }
}


// individual sections
.section_nav {
  margin: -10px 0 20px 0;
  display: none;
  justify-items: center;
  p {
    opacity: .4;
    background-color: #f36c23;
    margin: 5px;
    padding: 5px;
    border-radius: 4px;
    width: 85%;
    text-align: center;
    font-weight: bold;
    color: #fff;
    cursor: pointer;
    transition: opacity .4s;
    &:hover {
      opacity: 1;
    }
  }
}

.section_nav_active {
  display: grid;
  grid-template-columns: 1fr;
}

// for highlighting current section (1.1 - 1.4 etc)
.curr {
  opacity: 1 !important;
}

.section_active {
  display: grid;
}



@media (min-width: 768px) {

  section {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
  }
  .section_nav_active {
    display: flex;
  }
}



@media (min-width: 1200px){
  section {
    grid-template-columns: 1fr 1fr 1fr;
  }
}



