svg {
  width: 60px; }

.trouble {
  width: 45px; }

li {
  margin: 7px 0; }

.objective_list > ul > li {
  font-weight: bold; }

.objective_list > ul > li ul {
  font-weight: normal; }

header {
  padding: 22px 0;
  text-align: center;
  background: #5c7684;
  color: #fff; }
  header img {
    width: 200px; }
  header p {
    margin: 0;
    font-weight: bold;
    font-size: 1.22rem; }
  header a {
    color: #fff;
    text-decoration: underline; }

.select {
  display: flex;
  max-width: 430px;
  margin: 40px auto; }
  .select div {
    cursor: pointer;
    width: 130px;
    height: 80px;
    display: flex;
    justify-content: center;
    opacity: .5;
    transition: transform .3s, opacity .3s; }

.select div:first-child {
  background-color: #f36c23;
  border-bottom-left-radius: 10px; }

.select div:nth-child(2) {
  background-color: #f5a81c; }

.select div:nth-child(3) {
  background-color: #c1d42f; }

.select div:last-child {
  border-top-right-radius: 10px;
  background-color: #0090ba; }

.active {
  transform: scale(1.15, 1.15);
  opacity: 1 !important;
  z-index: 1; }

.to_top {
  width: 47px;
  height: 47px;
  background: firebrick;
  color: #fff;
  border-radius: 100%;
  position: fixed;
  bottom: 30px;
  right: 25px;
  cursor: pointer;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center; }

.objective_title span {
  color: #fff;
  font-size: .90rem;
  padding: 4px;
  border-top-right-radius: 5px;
  border-bottom-left-radius: 5px; }

.hw span {
  background-color: #f36c23; }

.nw span {
  background-color: #f5a81c; }

.mbd span {
  background-color: #c1d42f; }

.ts span {
  background-color: #0090ba; }

.objective_title p {
  font-weight: bold; }

.objectives {
  margin: 10px 0; }

.objective_title {
  cursor: pointer;
  box-shadow: -1px 2px 5px 2px lightgray;
  border-radius: 6px;
  height: 95px;
  display: flex;
  align-items: center; }
  .objective_title p {
    width: 95%;
    margin: auto; }

.objective_list {
  display: none; }

@media (min-width: 768px) {
  .objective_list {
    display: grid; }

  .objective_title {
    border: none; } }
main h2 {
  color: #f36c23;
  margin-bottom: 25px; }
main section {
  color: #7a757b;
  display: none; }
main a {
  z-index: 2; }

.section_nav {
  margin: -10px 0 20px 0;
  display: none;
  justify-items: center; }
  .section_nav p {
    opacity: .4;
    background-color: #f36c23;
    margin: 5px;
    padding: 5px;
    border-radius: 4px;
    width: 85%;
    text-align: center;
    font-weight: bold;
    color: #fff;
    cursor: pointer;
    transition: opacity .4s; }
    .section_nav p:hover {
      opacity: 1; }

.section_nav_active {
  display: grid;
  grid-template-columns: 1fr; }

.curr {
  opacity: 1 !important; }

.section_active {
  display: grid; }

@media (min-width: 768px) {
  section {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px; }

  .section_nav_active {
    display: flex; } }
@media (min-width: 1200px) {
  section {
    grid-template-columns: 1fr 1fr 1fr; } }

/*# sourceMappingURL=main.css.map */
